   <!-- Navigation-->
   <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">FOOD ORDER</a>
       
            <form class="d-flex">
                <!-- <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" ></span>
                </button> -->
            </form>
        </div>
</nav>